h1 {
  text-align: center;
  margin-bottom: 70px;
  font-family: 'Shadows Into Light', cursive;
  /* color: white; */
}

.scroll_container {
  display: block;
}

.content {
  text-align: center;
}

li {
  list-style: none;
  /* color: white; */
}

/*============== Desktop ===============*/
@media (min-width: 600px) {
  .scroll_container {
    display: flex;
  }

  .content {
    text-align: center;
    display: flex;
  }
}
